@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --lightPink: hsl(275, 100%, 97%);
    --grayishPurple: hsl(292, 16%, 49%);
    --darkPurple: hsl(292, 42%, 14%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    background-image: url("assets/images/background-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-color: var(--lightPink);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

section {
    padding: 20px;
    width: 320px;
    background-color: var(--white);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
}

h1 {
    font-weight: 700;
    margin-left: 20px;
    font-size: 30px;
}

h2 {
    font-weight: 600;
    font-size: 18px;
    transition: .1s;
}

p {
    font-weight: 400;
    color: var(--grayishPurple);
}

.infoDiv {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
}

.infoDiv.open {
    max-height: 200px; 
    padding-bottom: 15px;
    transition: max-height 0.2s ease;
}

section div:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#info_1 {
    display: block;
}

.accordion {
    flex-direction: column;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--lightPink);
    cursor: pointer;
}

.accordion:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.accordionTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2:hover {
    color: rgb(194, 40, 194);
}

@media only screen and (min-width: 376px) {
    body {
        background-image: url(assets/images/background-pattern-desktop.svg);
        background-repeat: repeat-x;
    }

    section {
        width: 350px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-image: url(assets/images/background-pattern-desktop.svg);
        background-repeat: repeat-x;
    }

    section {
        width: 600px;
    }

    h1 {
        font-size: 50px;
    }
}
